In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sentiment_reviews.csv")

In [4]:
df.tail()

,sku,product_name,price,product_category,pack_size,review_count,review_date,review_time,price_rating,quality_rating,...,year_of_creation,month_of_creation,day_of_creation,last_updated_year,last_updated_month,last_updated_day,cleaned_review_content,sentiment_score,positive_count,negative_count
31809,8906087770183,"Stretch Marks Cream, 100ml",500,pregenancy,100ml,54,2020-05-15,07:27:29,5,0,...,2021,3,25,2021,9,13,nice product,0.4215,1,0
31810,8906087770183,"Stretch Marks Cream, 100ml",500,pregenancy,100ml,54,2020-02-28,22:26:28,5,0,...,2021,3,25,2021,9,13,mama earth product nice super,0.7717,2,0
31811,8906087770183,"Stretch Marks Cream, 100ml",500,pregenancy,100ml,54,2020-02-28,22:25:53,5,0,...,2021,3,25,2021,9,13,mamaearth stretch mark cream effective using s...,0.4767,1,0
31812,8906087770183,"Stretch Marks Cream, 100ml",500,pregenancy,100ml,54,2020-02-28,22:21:21,3,0,...,2021,3,25,2021,9,13,gifted friend product made skin soft lighten s...,0.7845,2,0
31813,8906087770183,"Stretch Marks Cream, 100ml",500,pregenancy,100ml,54,2020-02-28,22:21:20,3,0,...,2021,3,25,2021,9,13,gifted friend product made skin soft lighten s...,0.4939,1,0

In [6]:
g = df[['sku','positive_count', 'negative_count']]

In [9]:
g['total'] = g['positive_count'] - g['negative_count']

/tmp/ipykernel_109496/1144841252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g['total'] = g['positive_count'] - g['negative_count']

In [14]:
g

                 sku  positive_count  negative_count  total
0      8904417301922               0               0      0
1      8904417301915               0               0      0
2      8904417301908               0               0      0
3      8904417301892               0               0      0
4      8904417303377               1               0      1
...              ...             ...             ...    ...
31809  8906087770183               1               0      1
31810  8906087770183               2               0      2
31811  8906087770183               1               0      1
31812  8906087770183               2               0      2
31813  8906087770183               1               0      1

[31814 rows x 4 columns]

In [30]:
df['sentiment'] = g['total'].apply(lambda x : x > 0).replace({False : 0, True : 1})

In [32]:
df.to_csv("sentiment_reviews.csv", index=False)

In [25]:
bad = g[g['sentiment'] == 0]

In [24]:
good = g[g['sentiment'] == 1]

In [26]:
bad

                 sku  positive_count  negative_count  total  sentiment
0      8904417301922               0               0      0          0
1      8904417301915               0               0      0          0
2      8904417301908               0               0      0          0
3      8904417301892               0               0      0          0
6      8904417300048               0               0      0          0
...              ...             ...             ...    ...        ...
31784  8906087770183               0               0      0          0
31788  8906087770183               0               0      0          0
31790  8906087770183               0               0      0          0
31799  8906087770183               0               0      0          0
31800  8906087770183               0               0      0          0

[2881 rows x 5 columns]

In [27]:
good

                 sku  positive_count  negative_count  total  sentiment
4      8904417303377               1               0      1          1
5      8904417303377               1               0      1          1
11     8904417302318               1               0      1          1
12     8904417302318               1               0      1          1
13     8904417302318               1               0      1          1
...              ...             ...             ...    ...        ...
31809  8906087770183               1               0      1          1
31810  8906087770183               2               0      2          1
31811  8906087770183               1               0      1          1
31812  8906087770183               2               0      2          1
31813  8906087770183               1               0      1          1

[28933 rows x 5 columns]

In [29]:
g

                 sku  positive_count  negative_count  total  sentiment
0      8904417301922               0               0      0          0
1      8904417301915               0               0      0          0
2      8904417301908               0               0      0          0
3      8904417301892               0               0      0          0
4      8904417303377               1               0      1          1
...              ...             ...             ...    ...        ...
31809  8906087770183               1               0      1          1
31810  8906087770183               2               0      2          1
31811  8906087770183               1               0      1          1
31812  8906087770183               2               0      2          1
31813  8906087770183               1               0      1          1

[31814 rows x 5 columns]

In [35]:
p = pd.read_csv("sentiment_reviews.csv")

In [38]:
p[p['sentiment'] == 0]['review_content']

0                                                        0
1                                                        0
2                                                        0
3                                                        0
6                                                        0
                               ...
31784    i had deep stretch marks on my tummy for fat i...
31788                                                  gud
31790           i am using this product it's really gud ..
31799    this pregnancy stretch mark cream intensly hyd...
31800    this pregnancy stretch mark cream intensly hyd...
Name: review_content, Length: 2881, dtype: object

In [39]:
from collections import Counter

In [44]:
c = Counter(p[p['sentiment'] == 1]['review_content'])

In [45]:
c.most_common(100)

[('good', 570),
 ('good product', 361),
 ('nice', 361),
 ('nice product', 354),
 ('like', 288),
 ('good product ', 263),
 ('nice product ', 237),
 ('good ', 226),
 ('very good product', 153),
 ('nice ', 143),
 ('very good product ', 141),
 ('i like this product', 137),
 ('very good', 137),
 ('i like it', 124),
 ('very nice', 124),
 ('very nice product ', 117),
 ('very nice product', 116),
 ('super', 107),
 ('i like this product ', 95),
 ('awesome', 93),
 ('awesome ', 90),
 ('amazing product', 87),
 ('very nice ', 83),
 ('very good ', 78),
 ('awesome product', 76),
 ('excellent ', 74),
 ('best product ', 74),
 ('amazing', 73),
 ('amazing product ', 69),
 ('i love this product ', 69),
 ('best product', 68),
 ('loved it', 64),
 ('nice products', 62),
 ('awesome product ', 62),
 ('super ', 57),
 ('amazing ', 57),
 ('love it', 54),
 ('i love it', 53),
 ('excellent product', 52),
 ('like ', 51),
 ('i like it ', 51),
 ('like it', 50),
 ('i love this product', 50),
 ('best', 49),
 ('excellent', 48),
 ('great product', 45),
 ('excellent product ', 40),
 ("it's amazing ", 40),
 ('best products', 36),
 ('super product', 33),
 ('best ', 32),
 ('like this product', 31),
 ('very good products', 31),
 ('i love it ', 30),
 ('superb ', 29),
 ('nice products ', 28),
 ("it's good", 27),
 ('good products', 27),
 ('superb', 26),
 ('love this product', 24),
 ('very nice products', 21),
 ('love it ', 21),
 ('good one', 21),
 ('amazing products', 21),
 ('really good ', 19),
 ('good products ', 19),
 ('great', 19),
 ("it's amazing", 19),
 ('these body lotion are very good and  the fragrance of both the body lotions is also  very nice ☺️',
  18),
 ('superb product', 18),
 ('really good', 17),
 ('wow', 17),
 ('i like the product', 17),
 ('this product is good for acne prone skin it also reduces the acne or pimple spots ❤❤, i used this face gel cream only in night❤',
  17),
 ('super product ', 16),
 ('i like ', 16),
 ('great product ', 16),
 ("it's awesome", 16),
 ('very wonderful product ', 16),
 ('i loved it', 15),
 ('just wow', 15),
 ('i love your products ', 15),
 ('good face wash ', 14),
 ("it's really good ", 14),
 ('very effective ', 14),
 ('good result', 14),
 ('i like all products in mamaaearth i like all all shopping apps', 14),
 ('just awesome', 13),
 ('loved it ', 13),
 ('best products ', 13),
 ('i loved it ', 13),
 ('awesome products', 13),
 ('its good', 13),
 ('m in love with this product !it is very light weighted and  smells very good n feel relaxing after using this !!! value for money product m totally in love this this!!',
  13),
 ('good quality ', 12),
 ('awesome products ', 12),
 ('great ', 12),
 ('very effective', 12),
 ('liked it', 12),
 ('i like this', 12)]